<?xml version='1.0' encoding='utf-8'?>
<settings>
  <run_mode>fixed source</run_mode>
  <particles>50000</particles>
  <batches>100</batches>
  <inactive>10</inactive>
  <source particle="photon" strength="10">
    <space type="point">
      <parameters>-478.66185426617005 829.0666512341365 0</parameters>
    </space>
    <energy parameters="500000.0 1000000.0" type="uniform" />
  </source>
  <photon_transport>true</photon_transport>
</settings>
